{% extends 'base.html' %}
{% load staticfiles %}

{% load thumbnail %}
{% block content %}

{% for photo in photos %}

<div class="photo">
    
    {% thumbnail photo.img "200x200" crop='center' as im %}
    <a href="{{MEDIA_URL}}{{photo.img}}" rel="prettyPhoto[pp_gal]">
        <img src="{{im.url}}" alt="{{photo.title}}" width="{{im.width}}" height="{{im.height}}">
    </a>
    {% endthumbnail %}
    <p>{{photo.title}}</p>
</div>
{% endfor %}
{% endblock %}
{% block paginator %}
          <ul class="pagination">
              {% if photos.has_previous %}
              <li class="arrow"><a href="/gallery/{{slug}}/{{ photos.previous_page_number }}/">&laquo;</a></li>
              {% else %}
              <li class="arrow unavailable"><a href="">&laquo;</a></li>
              {% endif %}
              {% for page in photos.paginator.page_range %}
                  {% if page == photos.number %}
                  <li class="current"><a href="{{ page }}">{{ page }}</a></li>
                  {% else %}
                  <li><a href="/gallery/{{slug}}/{{ page }}">{{ page }}</a></li>
                  {% endif %}
              {% endfor %}
              {% if photos.has_next %}
                  <li class="arrow"><a href="/gallery/{{slug}}/{{ photos.next_page_number }}/">&raquo;</a></li>
              {% else %}
                  <li class="arrow unavailable"><a href="">&raquo;</a></li>
               {% endif %}
          </ul>
 {% endblock %}

{% block photo_add %}
<a href="{% url 'gallery:photo_load' slug=slug %}">Добавить фотографию в альбом</a>
{% endblock %}

{% block delete %}
<form method='post'>
    {% csrf_token %}
    {{form.as_p}}
    <input class="button tiny" type="submit" value="Удалить файл"/>
</form>
{% endblock %}